body{
	text-align: center;
	font-family: 'Montserrat';
	color: #fff;
	background-image: url("bg-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.heading{
	padding: 1.8rem;
	font-weight: bold;
}

.container-fluid{
   padding: 3% 15%;
}

.quote{
	font-size: 2.3rem;
	padding: 3rem 2rem;
	font-weight: bold;
}

.image{
	height: 30rem;
	width: 35rem;
}

.wrapper {
		padding-top: 1.8rem;
}

.btn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #198754;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1e9467;
  text-decoration: none;
	color: #fff;
}
