body{
	text-align: center;
	font-family: 'Sans-serif';
	color: #fff;
	background-image: url("images/bg-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center center;
	background-attachment: fixed;
	background-color: #C1C8E4;
}

@media only screen and (max-width: 767px) {
body {
background-image: url("images/bg-image-small-screen.jpg");
}
}

.heading{
	padding: 1.8rem;
	font-weight: bold;
}

.container-fluid{
   padding: 3% 15%;
}

.quote{
	font-size: 2.3rem;
	padding: 3rem 2rem;
	font-weight: bold;
}

.image{
	height: 30rem;
	width: 35rem;
}

.wrapper {
		padding-top: 1.8rem;
}

.btn {
  background: #3468d9;
  background-image: -webkit-linear-gradient(top, #3468d9, #2b6ab8);
  background-image: -moz-linear-gradient(top, #3468d9, #2b6ab8);
  background-image: -ms-linear-gradient(top, #3468d9, #2b6ab8);
  background-image: -o-linear-gradient(top, #3468d9, #2b6ab8);
  background-image: linear-gradient(to bottom, #3468d9, #2b6ab8);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3c79fc;
  background-image: -webkit-linear-gradient(top, #3c79fc, #3465d9);
  background-image: -moz-linear-gradient(top, #3c79fc, #3465d9);
  background-image: -ms-linear-gradient(top, #3c79fc, #3465d9);
  background-image: -o-linear-gradient(top, #3c79fc, #3465d9);
  background-image: linear-gradient(to bottom, #3c79fc, #3465d9);
  text-decoration: none;
	color: #fff;
}
